.btn-wrapper {
    text-align: center;
}

.btn-wrapper > * {
    display: inline-flex;
    align-items: center;
    margin-bottom: var(--gutter-huge) 0;
}

@media(max-width: 320px) {
    .btn-wrapper > * {
        display: inline-block;
    }
}